[tools]
rust = { version = "1.91.0", components = "rustfmt,clippy", targets = "wasm32-unknown-unknown" }
node = "25.1.0"
hyperfine = "latest"
"cargo:cargo-insta" = "1.43.1"
"cargo:cargo-expand" = "1.0.114"
"cargo:cargo-edit" = "0.13.6"
"cargo:git-cliff" = "2.10.1"
"cargo:samply" = "0.13.1"

[tasks.clean]
confirm = 'Are you sure?'
description = "Clean all build artefacts"
run = ["cargo clean", "rm ./tasks/generate-values/.*-cache.txt"]

[tasks.build]
description = "Build all project files"
sources = ["Cargo.toml", "crates/**/*.toml", "crates/**/*.rs"]
outputs = ["target/debug/csskit"]
run = "cargo build --all-features"
alias = "b"

[tasks.build-release]
description = "Build release"
sources = ["Cargo.toml", "crates/**/*.toml", "crates/**/*.rs"]
outputs = ["target/release/csskit"]
run = "cargo build --all-features --release"

[tasks.build-release-debug]
description = "Build release-debug"
sources = ["Cargo.toml", "crates/**/*.toml", "crates/**/*.rs"]
outputs = ["target/release/csskit"]
run = "cargo build --all-features --profile release-debug"

[tasks.test]
description = "Run the test suite"
sources = ["Cargo.toml", "crates/**/*.toml", "crates/**/*.rs"]
run = "cargo test --all-features"
alias = "t"

[tasks.bench]
description = "Run the benchmark suite"
run = "cargo bench --all-features"

[tasks.lint]
description = "Lint all project files"
sources = ["Cargo.toml", "crates/**/*.toml", "crates/**/*.rs"]
run = ["cargo clippy --workspace --all-targets --all-features"]

[tasks.doc]
description = "Generate library documentation"
sources = ["Cargo.toml", "crates/**/*.toml", "crates/**/*.rs"]
run = "cargo doc --all-features"

[tasks.generate-feature-data]
description = "Run code generation to build CSS feature data"
run = ["cargo run -p csskit_spec_generator generate-feature-data"]

[tasks.generate-values]
description = "Run code generation to build all CSS style values"
run = ["cargo run -p csskit_spec_generator generate-spec {{arg(name='spec')}}"]

[tasks.generate-all-values]
description = "Run code generation to build all CSS style values"
run = ["cargo run -p csskit_spec_generator generate-all"]

[tasks.profile]
depends = ["build -p csskit --profile release-debug"]
description = "Run a given file in the profiler to analyse performance"
run = "samply record --rate=10000 ./target/release-debug/csskit build {{arg(name='css_file')}} --output /dev/null"
