@import url("open-props/normalize.min.css");
@import url("open-props/open-props.min.css");
@import url("open-props/media.min.css");
@import url("open-props/masks.edges.min.css");

/*#000000  #1c0e2a  #381c55  #552a7f  #7138aa  #8d54c6  #aa7fd4  #c6a9e2  #e2d4f0  #ffffff*/

html.index {
	--bg-1: rgba(255 255 255 / 0);
}

html {
	--bg-1: rgba(255 255 255 / 0.8);
	background:
		linear-gradient(to top, var(--bg-1), var(--bg-1)),
		url(/images/background.svg) top left 0/200px var(--sand-0);

	font-family: sans-serif;
	--text-1: #1c0e2a;
	--text-2: #552a7f;
	--text-3: #c6a9e2;

	--surface-1: #ffffff;
	--surface-2: #e2d4f0;
	--surface-3: #c6a9e2;

	@media (prefers-color-scheme: dark) {
		--text-1: #e2d4f0;
		--text-2: #8d54c6;
		--text-3: #7138aa;

		--surface-1: #1c0e2a;
		--surface-2: #381c55;
		--surface-3: #552a7f;

		--bg-1: rgba(0 0 0 / 0.9);
	}
}

body > :where(row-stack, col-stack) {
	height: 100vh;
}

:where(li, dd, figcaption, p) {
	max-inline-size: 80ch;
}

nav ol {
	list-style: none;
}

row-stack,
col-stack {
	display: flex;
}

:where(col-stack) > :not([height]) {
	flex: 2;
}

:where(row-stack) > :not([width], a) {
	flex: 2;
}

row-stack {
	flex-direction: row;
	height: 100%;
}

col-stack {
	flex-direction: column;
	width: 100%;
}

.page-head {
	height: 80px;
	flex: 0;
	position: sticky;
	top: 0;
	background: #fff;
	z-index: 1;
	box-shadow: var(--shadow-2);

	@media (prefers-color-scheme: dark) {
		background: #181919;
	}
}

.page-head header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.page-head header a {
	display: block;
	margin: 1rem;
}

.page-head nav {
	display: flex;
	align-items: center;
	justify-content: end;
	margin: 0 2rem 0 0;
}

.page-head nav ol {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
}

.page-head a {
	color: var(--text-1);
}

.side-nav {
	width: 12rem;
	flex: initial;
}

.side-nav nav ol {
	padding: 1rem 1rem 1rem 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

.side-nav nav :where(a, li) {
	display: block;
	padding: 0;
	width: 100%;
}

.side-nav nav li {
	margin-left: 0.7rem;
}

.side-nav nav a {
	color: var(--text-1);
	padding: 0.5rem 1rem;
	margin-left: 0.5rem;
	border-radius: var(--radius-2);
}

.side-nav nav [active] {
	margin-left: 0;
	border-left: 0.5rem solid #8d54c6;
}

.side-nav nav a:hover {
	background: var(--surface-2);
	text-decoration: none;
}

.markdown {
	padding: 2rem;
}

.markdown h1 {
	color: var(--text-2);
	font-size: 4rem;
	rotate: 0.5deg;
	margin: 0 0 2rem 0;
}

.markdown :where(h2, h3, h4, h5, h6) {
	color: var(--text-3);
	font-size: 3rem;
	rotate: -0.5deg;
	margin: 2rem 0;
}

.markdown pre {
	background: var(--surface-2);
	display: block;
	mask: var(--mask-edge-zig-zag-vertical);
	mask-size: 15px 100%;
	padding: 2rem 2rem;
	max-inline-size: none;
	width: calc(100% + 4rem);
	margin: 2rem 0 2rem -2rem;
}
