main {
	height: 100vh;
}

.container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.content-panel {
	display: grid;
  grid-template-columns: auto 1fr 1fr;
	flex: 1;
}

csskit-editor,
csskit-viewer {
	font-family: monospace;
	font-size: 16px;
	margin: 0;
}

wasm-loader {
	background: url("/images/background.svg") top left 0/200px var(--sand-0);
	inset: 0;
	z-index: 1;
	display: flex;
	font-weight: bold;
	text-align: center;
	align-items: center;
	margin: 0;
	color: #aa7fd4;
	text-shadow: 3px 3px 0 rebeccapurple;
	font-family: Fredoka;
	font-size: 90px;
}

wasm-loader+csskit-editor {
	display: none;
}

.content-panel > * {
	border-right: 1px solid var(--surface-2);
}

csskit-editor,
csskit-viewer {
	flex: 2;
	overflow-y: auto;
	background: white;
}

.controls,
.status {
	flex: 0;
	min-height: 50px;
	height: 50px;
	color: white;
	flex: 0;
	background: var(--surface-2);
	padding: 0.8em 0.5em;
	border-bottom: 1px solid var(--indigo-6);
	display: flex;
	align-items: center;
}

metric-observer {
	text-align: right;
}

metric-observer::part(value) {
	margin-left: 1em;
}

.controls {
	color: #333;

	.example-item {
		color: #fff;
	}
}

radiogroup > * {
	display: grid;
	grid-template-columns: repeat(2, max-content);
	justify-content: space-around;
}

radiogroup label {
	display: inline-flex;
	align-items: center;
	gap: 0 .25rem;
	cursor: pointer;
}

.formatter-controls {
	height: auto;
	min-height: 0;
	width: 13rem;
	align-items: flex-start;
	padding: .8em .5em;
	background: #fafafa;
}

.format-form {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
}

.formatter-options-panel {
	display: flex;
	flex-direction: column;
	gap: 0.35rem;
	margin-top: 1rem;
}

.formatter-options-title {
	font-weight: 600;
}

.format-options {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	flex-wrap: wrap;

	select, input {
		color: #fff;
		padding: .2em .5em;
	}
}

.format-options label {
	margin-inline: 0;
	display: inline-flex;
	align-items: center;
	gap: 0.35rem;
}

error-diagnostic-count {
	background: var(--red-7);
	border-radius: var(--radius-round);
	color: var(--stone-1);
	aspect-ratio: 1;
	display: inline-block;
	height: 20px;
	text-align: center;
	border: 1px solid var(--red-4);
	margin-left: 0.5em;
}

error-diagnostic-count[count="0"] {
	visibility: hidden;
}

body:has(input[name="format"][value="minify"]:not(:checked)) metric-observer[name="minify"] {
	visibility: hidden;
}

body:has(input[name="format"][value="format"]:not(:checked)) .formatter-options-panel {
	visibility: hidden;
}

:where(textarea,
	select,
	input:not([type="button"], [type="submit"], [type="reset"])) {
	background-color: var(--gray-7);
}
