name: bench
on:
  pull_request:
    types: [opened, synchronize, reopened, labeled]
jobs:
  build:
    if: contains(github.event.pull_request.labels.*.name, 'bench')
    name: Benchmark on linux
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: "true"
      - name: Setup
        uses: ./.github/actions/setup
      - name: Cache CI Benchmarks
        id: cache-target
        uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 #v4.2.4
        with:
          key: ${{ runner.os }}-${{ github.ref }}
          path: |
            ./target/criterion
      - name: Criterion Compare PRs
        uses: boa-dev/criterion-compare-action@adfd3a94634fe2041ce5613eb7df09d247555b87 #v3.2.4
        with:
          branchName: ${{ github.base_ref }}
