name: Generate all values
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 1"
jobs:
  build:
    name: Generate css_ast/src/values
    runs-on: ubuntu-latest
    permissions:
      actions: write
      pull-requests: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: "true"
      - name: Setup
        uses: ./.github/actions/setup
      - name: Check fmt
        run: cargo fmt --check
      - name: Generate all values
        run: mise run generate-all-values
      - name: Cargo fmt
        run: cargo fmt
      - name: Make PR
        run: |
          git config user.name "Keith Cirkel"
          git config user.email "keithamus@users.noreply.github.com"
          git update-ref -d refs/heads/generate-all-values
          git switch -c generate-all-values
          git add crates/css_ast/src/values/ crates/css_feature_data/src/data.rs
          git commit --message 'Regenerate css_ast/src/values & css_feature_data from csswg drafts' && \
          git push --force origin HEAD:refs/heads/generate-all-values && \
          gh pr create --title 'Regenerate css_ast/src/values from csswg drafts' --body "Updates to the latest specs"
          gh pr merge --auto --delete-branch --squash "$BRANCH_NAME"
        env:
          GITHUB_TOKEN: ${{ secrets.GENERATE_VALUES_GITHUB_PAT }}
