name: Pages
on:
  push:
    branches: [main]
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * *"
permissions:
  contents: read
  pages: write
  id-token: write
concurrency:
  group: "pages"
  cancel-in-progress: true
jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: "true"
      - name: Download benchmark history
        uses: dawidd6/action-download-artifact@ac66b43f0e6a346234dd65d4d0c8fbb31cb316e5 # v11
        with:
          name: benchmark-history
          workflow: benchmark-tracking.yml
          workflow_conclusion: success
          branch: main
          search_artifacts: true
          path: website/_data
      - name: Setup
        uses: ./.github/actions/setup
        with:
          dir: ./website
      - name: Configure Pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b #v5.0.0
      - name: wasm-pack
        run: npm install -g wasm-pack
      - name: npm Install
        run: npm i --production=false
        working-directory: ./website
        env:
          NODE_ENV: production
      - name: Get npm cache directory
        id: npm-cache-dir
        run: echo "dir=$(npm config get cache)" >> ${GITHUB_OUTPUT}
      - name: Cache npm
        uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 #v4.2.4
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Build internal docs
        run: cargo doc --all-features --no-deps --keep-going --release
      - name: Ensure internal docs directory exists
        run: mkdir -p ./website/_site/docs/internal/
      - name: Copy internal docs to website
        run: cp -rf ./target/doc/* ./website/_site/docs/internal/
      - name: Upload website
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: "website/_site"
      - name: Deploy website
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e #v4.0.5
