# mostly copied from https://raw.githubusercontent.com/web-infra-dev/oxc/main/.github/workflows/release_cli.yml
name: release
on:
  workflow_run:
    workflows: [test]
    types: [completed]
    branches: [main]
  workflow_dispatch:
concurrency:
  group: "release"
  cancel-in-progress: true
permissions:
  contents: write
  id-token: write
jobs:
  tag:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Tag
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git tag -fa canary -m "Latest Continuous Release" ${GITHUB_SHA}
          git push --force origin canary:refs/tags/canary

  build:
    if: |
      ${{
        github.event_name == 'workflow_dispatch' ||
        (
          github.event.workflow_run.conclusion == 'success' &&
          github.repository_owner == 'csskit' &&
          github.ref_name == 'main'
        )
      }}

    strategy:
      matrix:
        include:
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            code-target: win32-x64

          - os: windows-latest
            target: aarch64-pc-windows-msvc
            code-target: win32-arm64

          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            code-target: linux-x64

          - os: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            code-target: linux-arm64

          - os: macos-latest
            target: x86_64-apple-darwin
            code-target: darwin-x64

          - os: macos-latest
            target: aarch64-apple-darwin
            code-target: darwin-arm64

    name: Package ${{ matrix.code-target }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: "true"
      - name: Setup
        uses: ./.github/actions/setup
        with:
          key: release-${{ matrix.target }}
      - name: Rustup target
        run: rustup target add ${{ matrix.target }}
      - name: Install arm64 toolchain
        if: matrix.code-target == 'linux-arm64'
        run: sudo apt-get install -y gcc-aarch64-linux-gnu
      - name: Build Binary
        # strip debug symbols from std, see https://github.com/johnthagen/min-sized-rust#remove-panic-string-formatting-with-panic_immediate_abort
        run: cargo build --release --target ${{ matrix.target }} -p csskit
        env:
          CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER: aarch64-linux-gnu-gcc

      - name: Archive Binary
        if: runner.os == 'Windows'
        shell: bash
        run: |
          BIN_NAME=csskit-${{ matrix.code-target }}
          mv target/${{ matrix.target }}/release/csskit.exe $BIN_NAME.exe

      - name: Archive Binary
        if: runner.os != 'Windows'
        run: |
          BIN_NAME=csskit-${{ matrix.code-target }}
          mv target/${{ matrix.target }}/release/csskit $BIN_NAME

      - run: chmod +x csskit-*

      - name: Upload Binary
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 #v4.6.2
        with:
          if-no-files-found: error
          name: binary-${{ matrix.code-target }}
          path: csskit-*

  deploy-cargo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Get version and set TAG_NAME
        run: |
          VERSION=$(cargo metadata --no-deps --format-version 1 | jq -r '.packages[0].version | split(".") | "\(.[0]).\(.[1]).\(.[2] | tonumber + 1)"')
          TAG_NAME="${VERSION}-canary.${GITHUB_SHA}"
          echo "TAG_NAME=$TAG_NAME" >> $GITHUB_ENV
      - name: Setup
        uses: ./.github/actions/setup
        with:
          key: release-${{ matrix.target }}
      - name: Set workspace version
        run: cargo set-version --workspace $TAG_NAME
      - name: Deploy to crates.io
        run: |
          cargo publish --allow-dirty -p derive_atom_set
          cargo publish --allow-dirty -p css_lexer
          cargo publish --allow-dirty -p csskit_derives
          cargo publish --allow-dirty -p css_parse
          cargo publish --allow-dirty -p css_feature_data
          cargo publish --allow-dirty -p csskit_proc_macro
          cargo publish --allow-dirty -p chromashift
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

  deploy-npm:
    env:
      DIST_TAG: canary
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Get version and set TAG_NAME
        run: |
          VERSION=$(cargo metadata --no-deps --format-version 1 | jq -r '.packages[0].version | split(".") | "\(.[0]).\(.[1]).\(.[2] | tonumber + 1)"')
          TAG_NAME="${VERSION}-canary.${GITHUB_SHA}"
          echo "TAG_NAME=$TAG_NAME" >> $GITHUB_ENV
          echo "TAG_NAME=$TAG_NAME"; echo "DIST_TAG=$DIST_TAG"
      - name: Download Artifacts
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
      - name: Copy binaries to package
        run: cp binary-*/* packages/csskit/bin
      - name: Ensure binaries are chmod +x
        run: chmod +x packages/csskit/bin/*
      - run: tree
      - name: Install Dependencies
        run: npm i
        working-directory: ./packages/csskit
      - name: Tag Package with canary release tag
        run: npm version ${TAG_NAME} --no-git-tag-version
        working-directory: ./packages/csskit
      - name: Deploy to npm
        run: |
          echo '//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}' >> ~/.npmrc
          npm whoami
          npm pub --provenance --tag $DIST_TAG --access public
        working-directory: ./packages/csskit
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}

  update-release:
    env:
      DIST_TAG: canary
    runs-on: ubuntu-latest
    needs: [build, deploy-npm, deploy-cargo]
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Get version and set TAG_NAME
        run: |
          VERSION=$(cargo metadata --no-deps --format-version 1 | jq -r '.packages[0].version | split(".") | "\(.[0]).\(.[1]).\(.[2] | tonumber + 1)"')
          TAG_NAME="${VERSION}-canary.${GITHUB_SHA}"
          echo "TAG_NAME=$TAG_NAME" >> $GITHUB_ENV
          echo "TAG_NAME=$TAG_NAME"
      - name: Update Release
        uses: softprops/action-gh-release@6cbd405e2c4e67a21c47fa9e383d020e4e28b836 # v2.3.3
        with:
          name: Canary
          prerelease: true
          tag_name: canary
          target_commitish: ${{ github.sha }}
          files: binary-*/*
          token: ${{ secrets.GITHUB_TOKEN }}
          body: |
            This release is automatically built and generated on every commit to main that passes tests.

            And is currently published to npm:
            ```shell
            npm i csskit@canary
            ```
