name: test
on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:

permissions:
  contents: read
  id-token: write

env:
  CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER: aarch64-linux-gnu-gcc

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            code-target: win32-x64

          - os: windows-latest
            target: aarch64-pc-windows-msvc
            code-target: win32-arm64

          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            code-target: linux-x64

          - os: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            code-target: linux-arm64

          - os: macos-latest
            target: x86_64-apple-darwin
            code-target: darwin-x64

          - os: macos-latest
            target: aarch64-apple-darwin
            code-target: darwin-arm64

    name: Build & Test on ${{ matrix.code-target }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Configure git line endings
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: "true"
      - name: Setup
        uses: ./.github/actions/setup
        with:
          key: test-${{ matrix.target }}
      - run: cargo test --all-features

  build_default:
    name: Build & Test with default features
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: "true"
      - name: Setup
        uses: ./.github/actions/setup
        with:
          key: global-rust-cache
      - run: cargo test

  build_nightly:
    name: Build & Test with nightly
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: "true"
      - name: Setup
        uses: ./.github/actions/setup
        with:
          key: global-rust-cache
      - run: cargo +nightly test --all-features

  clippy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: "true"
      - name: Setup
        uses: ./.github/actions/setup
        with:
          key: global-rust-cache
        # Ensure clippy is happy with us
      - run: RUSTFLAGS="-Dwarnings" cargo clippy

  fmt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: "true"
      - name: Setup
        uses: ./.github/actions/setup
        with:
          key: global-rust-cache
        # Ensure that everything is nicely formatted
      - run: cargo fmt --check

  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: "true"
      - name: Setup
        uses: ./.github/actions/setup
        with:
          key: global-rust-cache
        # Ensure that docs can also build
      - run: cargo doc --all-features --no-deps

  acceptance:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: "true"
      - name: Setup
        uses: ./.github/actions/setup
        with:
          key: global-rust-cache
        # Ensure that csskit works!
      - run: mise r csskit-acceptance

  deploy-dryrun:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Get version and set TAG_NAME
        run: |
          VERSION=$(cargo metadata --no-deps --format-version 1 | jq -r '.packages[0].version | split(".") | "\(.[0]).\(.[1]).\(.[2] | tonumber + 1)"')
          TAG_NAME="${VERSION}-canary.${GITHUB_SHA}"
          echo "TAG_NAME=$TAG_NAME" >> $GITHUB_ENV
      - name: Setup
        uses: ./.github/actions/setup
        with:
          key: release-${{ matrix.target }}
      - name: Set workspace version
        run: cargo set-version --workspace $TAG_NAME
      - name: Dry run cargo publish
        run: |
          cargo publish --dry-run --allow-dirty

  results:
    permissions:
      pull-requests: write
    if: always()
    runs-on: ubuntu-latest
    needs: [build, build_default, fmt, clippy, docs, acceptance]
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Check Results
        run: |
          outcome='${{ toJSON(needs.*.result) }}'
          if [[ $(echo $outcome | jq -e 'all(. == "success")') != "true" ]]; then
            echo "Some required steps failed!";
            if [[ "${{ github.ref }}" != "refs/heads/main" ]]; then
              gh pr review ${{ github.event.number }} --request-changes --body "Some required steps failed!";
            fi
            exit 1;
          elif [[ "${{ github.ref }}" != "refs/heads/main" ]]; then
            gh pr review ${{ github.event.number }} --approve --body "All CI jobs have passed. Approving.";
          fi
